ICONS_TO_DOWNLOAD=10
ICON_PROVIDER_ORDER=iconify,noun
ICONIFY_API_BASE_URL=https://api.iconify.design
ICONIFY_PREFIXES=maki,temaki,material-symbols,mdi,tabler,ph,lucide,heroicons
NOUN_KEY=xxxxxxxx
NOUN_SECRET=xxxxxxxx
CORS=all # all sets cors to all, can also be a list of comma separated urls
